h1 {
	color:white;
    text-shadow: 0.1em 0.1em 0.1em black;
	font-size: 45px;
    padding-left: 16px;
}


#map {
    height: 400px;
    width: 80%;
    display: inline-block;
}


#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}